@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&family=Open+Sans:wght@300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap');

:root {
    --button-color: #F2735B;
    --title-color: #050F43;
    --subtitle-landing: #255252;
    --text-color: #030303;

    /* Paletas de colores a usar en los ToDo components*/
    
    --component-one: #96D0C7;
    --component-two: #E8A695;
    --component-three: #F4CC7F;
    --component-four: #F2735B;

}